/*-------------------------------- GENERAL STYLES --------------------------------*/

*{
    margin: 0px;
    padding: 0px;
}

body{
    background: url(./images/background.png);
}

#content{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

/*-------------------------------- HEADER STYLES --------------------------------*/

header{
    margin-top: 45px;
}

h1{
    font-family: "Jersey 10", sans-serif;
    font-size: 5vw;
    font-weight: 400;
    margin-bottom: 40px;
    color: whitesmoke;
    text-align: center;
}

/*-------------------------------- GENERAL BODY STYLES --------------------------------*/

#game{
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/*-------------------------------- GENERAL INFORMATION SECTION STYLES --------------------------------*/

#information{
    display: flex;
    flex-direction: column;
    padding: 1vw;
    align-items: center;
    background-color: #242e3d71;
    width: 80%;
}

/*-------------------------------- SCORES SECTION STYLES --------------------------------*/

#scores{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 10px;
}

#scores p, #rules{
    font-size: 3.5vw;
}

#playerChoices p{
    font-size: 1.5vw;
}

#message{
    font-size: 3vw;
}

.changePlayerScoreText{
    animation: changeGreen 1s;
}

@keyframes changeGreen{
    0%, 100%{
        color: whitesmoke;
    }
    
    50%{
        color: green;
    }
}

.changeComputerScoreText{
    animation: changeRed 1s;
}

@keyframes changeRed{
    0%, 100%{
        color: whitesmoke;
    }
    
    50%{
        color: red;
    }
}

.changeTieScoreText{
    animation: changeYellow 1s;
}

@keyframes changeYellow{
    0%, 100%{
        color: whitesmoke;
    }
    
    50%{
        color: yellow;
    }
}

/*-------------------------------- FONT STYLES --------------------------------*/

#scores p, #playerChoices p, #message, #choicesSelected p, #rules, #modal p, #modal button{
    font-family: "Jersey 10", sans-serif;
    color: whitesmoke;
}

/*-------------------------------- CHOICES SELECTED SECTION STYLES --------------------------------*/

#choicesSelected{
    display: flex;
    width: 80%;
    padding: 1vw;
    justify-content: space-around;
    margin-top: 30px;
    background-color: #242e3d71;
}

.choiceSelected{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.choiceSelected img{
    background-color: white;
    width: 25%;
    border-radius: 20px;
}

.choiceSelected p{
    font-size: 1vw;
    margin-bottom: 20px;
}

/*-------------------------------- CHOICES SECTION STYLES --------------------------------*/

#playerChoices{
    display: flex;
    margin-top: 30px;
    background-color: #242e3d71;
    padding: 2vw;
    width: 80%;
}

.choices{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.choices img{
    background-color: white;
    width: 50%;
    border-radius: 20px;
    cursor: pointer;
}

.choices img:hover{
    cursor: pointer;
    transform: scale(1.075);
    border: 5px solid red;
}

.choices p{
    text-align: center;
    font-family: "Jersey 10", sans-serif;
    color: whitesmoke;
    margin-top: 10px;
}

.reset{
    color: whitesmoke;
}

/*-------------------------------- DIALOG STYLES --------------------------------*/

#modal{
    background-color: #000000;
    width: 50%;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 1vw;
    text-align: center;
}

#modal::backdrop{
    background-color: #0000008e;
}

#modal p{
    font-size: 2vw;
}

#modal button{

    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 1vw;
    border-radius: 100px;
    border: 1px solid transparent;
    letter-spacing: 3px;
    min-width: 160px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 17px 50px;
    background-color: #295ab6be;
    margin-top: 20px;

}

/*-------------------------------- FOOTER STYLES --------------------------------*/

footer{
    padding: 10px 0px;
    margin-top: 60px;
    display: flex;
    background-color: #242e3d71;
    width: 100%;
    font-family: "Jersey 10", sans-serif;
    font-size: 1.5vw;
    color: whitesmoke;
    align-items: center;
    justify-content: center;
}

footer a{
    text-decoration: none;
    color: whitesmoke;
}

footer img{
    margin-left: 40px;
    height: 5vw;
}